

/* ---------------ABOUT------------------- */
:root {
  --primary: #624788;
  --secondary: #DD9707;
  --accent: #F0F4FF;
  --background: #F9F9F9;
  --text: #0e0d0d;
  --radius: 6px;
}

body{
  background-color: var(--accent);
}

.header-section, .company-story{
    text-align: center;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-section h1{
    font-size:x-large;
}

.header-section h2 {
    color: var(--text);
}

.company-story p{
    color: var(--text);
    font-size: 1rem;
    
}

.team-section{
    background-color: var(--background);
    padding: 2rem;
    text-align: center;
    min-height: 60vh;
}

/*  Team Profiles  */
.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem;
  justify-items: center; 
  align-items: stretch;  
  margin-top: 1.5rem;
}

article {
  display: flex;
  flex-direction: column;
  height: 100%; 
  background: #fff;
  border-radius: var(--radius, 8px);
  padding: 1rem;
  box-shadow: 0  0 1px rgba(0,0,0,0.2);
}

article h3 {
  color: var(--primary);
  font-size: 1.25rem;
  margin-bottom: 0.3rem;
}

article h4 {
  color: var(--text);
  font-size: 1rem;
  font-weight: 700;
  /* margin-bottom:0.75rem ; */
}

article dl {
  display: flex;
  flex-direction: column;
  margin-top: 1.25rem;
  gap: 0.55rem;
}

article dt {
  font-weight: 600;
  color: #222;
}

article dd {
  margin: 0;
  padding-left: 1rem;
  color: var(--text);
}
article dd a {
  color: var(--text);
}


/*  Company Stats  */
.company-stats{
  margin: 2rem 0;
  background-color: var(--accent);
}

.company-stats ul {
  list-style: none;
  padding: 0;
  gap: 0.5rem;
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.company-stats li {
  text-align: center;
  flex-direction: column;
  padding: 1rem;
  flex-wrap: wrap;
  font-weight: 500;
  border-radius: var(--radius);
}

.label {
  font-weight: bold;
  color: var(--text);
  font-weight: bold;
  font-size: 1rem;
}

.value {
  font-weight:600;
  color: var(--primary);
  margin-top: 0.5rem;
}


/*  Company Values  */
.Values-section {
  background-color: var(--background);
  padding: 2rem 0;
  text-align: center;
  font-size: large;
}

.Values-section dt{
  font-weight: bold;
  gap: 2rem;
}
.company-values {
  list-style: none;
  text-align: center;
  margin-top: 1rem;
}

.Values-section dt {
  margin-top: 0.75rem;
  line-height: 1.5;
}
