/* ----------------HOME PAGE--------------------------- */

.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--accent-50);
  text-align: center;
}

@media screen and (min-width: 769px) {
  .hero {
    min-height: 90vh;
  }
}

.hero h1 {
  color: var(--primary-500);
  font-size: 2.5rem;
}

.hero p {
  font-size: 1.2rem;
  font-weight: 600;
}

.hero-buttons {
  margin: 2rem 1rem; 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hero-buttons .btn {
  font-size: 1rem;       /* consistent button text size */
  padding: 0.75em 1.5em; /* relative to font-size (em = perfect here) */
  margin: 0.5rem;        /* layout spacing stays consistent */
  border-radius: var(--radius);
  font-weight: bold;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  white-space: nowrap;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hero-buttons .btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

/* Chained classes (class="btn secondary") (clean, modular) */
.btn.primary {
  background-color: var(--primary-500);
  color: var(--background);

}

.btn.secondary {
  background: transparent;
  border: 2px solid var(--primary-500);
  color: var(--primary-500);
}


.services{
  padding: 3rem 2rem;
  min-height: 50vh;
}


.services h2, .stats h2 {
    text-align: center;
    color: var(--primary-500);
    margin-bottom:1.2rem ;
}


.service-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
  gap: 10px;
}

.service-card {
  flex: 1 1 300px;        /* Grow, shrink, 300px base */
  min-width: 300px;  /* In small screens*/
  max-width: 350px;       /* Prevent cards from getting too wide */
  padding: 2rem;
  background: var(--accent-50);
  border-radius: var(--radius);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;


    /* Card internal layout with Flexbox */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80px;
}

.service-card:hover {
  transform: translateY(-5px);
  border: 1px solid var(--primary-100);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.stats {
  margin: 2rem;
  padding: 2rem;
  border-radius: 1rem;
  background-color: var(--primary-800);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.stats h2 {
  color: white;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.stats ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 2rem;
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

.stats li {
  text-align: center;
  border-radius: 0.75rem;
  transition: transform 0.3s ease;
}

.stats li:hover {
  transform: translateY(-5px);
}

.label {
  font-weight: 400;
  font-size: 1rem;
}

.value {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 0.25rem;
  color: white;
}

